{#
/**
 * @file
 * Theme implementation to display add subscription (individual user-apps).
 *
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Regions:
 * - page.slideout: Items for the Slideout region.
 * - page.header_top_highlighted_first: Items for the Header Top Highlighted First region.
 * - page.header_top_highlighted_second: Items for the Header Top Highlighted Second region.
 * - page.header_top_first: Items for the Header Top First region.
 * - page.header_top_second: Items for the Header Top Second region.
 * - page.header_first: Items for the Header First region.
 * - page.header: Items for the Header Second region.
 * - page.header_third: Items for the Header Third region.
 * - page.banner: Items for the Banner region.
 * - page.content_top: Items for the Content Top region.
 * - page.content_top_highlighted: Items for the Content Top Highlighted region.
 * - page.content: Items for the Content region.
 * - page.sidebar_first: Items for the First Sidebar region.
 * - page.sidebar_second: Items for the Second Sidebar region.
 * - page.content_bottom_first: Items for the Content Bottom First region.
 * - page.content_bottom_second: Items for the Content Bottom Second region.
 * - page.featured_top: Items for the Featured Top region.
 * - page.featured: Items for the Featured region.
 * - page.featured_bottom: Items for the Featured Bottom region.
 * - page.sub_featured: Items for the Sub Featured region.
 * - page.breadcrumb: Items for the Breadcrumb region.
 * - page.highlighted: Items for the Highlighted region.
 * - page.footer_top_first: Items for the Footer Top First region.
 * - page.footer_top_second: Items for the Footer Top Second region.
 * - page.footer_first: Items for the Footer First region.
 * - page.footer_second: Items for the Footer Second region.
 * - page.footer_third: Items for the Footer Third region.
 * - page.footer_fourth: Items for the Footer Fourth region.
 * - page.footer_fifth: Items for the Footer Fifth region.
 * - page.footer_bottom: Items for the Footer Bottom region.
 * - page.sub_footer_first: Items for the Subfooter First region.
 * - page.footer: Items for the Subfooter Second region.
#}




{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="promotion-empty-form" style="display:none; bottom:200%;">
    <div class="promotion-form-overflow">
<h3>Request {{ form.promotion_environment_prefix }} Credentials</h3>
<p>Make any adjustments to your app and complete the following information to submit your request for {{ form.promotion_environment_prefix }} Credentials.</p>
<h3>Whitelist IPs</h3><i class="fal fa-info-circle promotion-helper-info" style="position: absolute;
    top: 161px;
    left: 134px;"><div class="promotion-tooltip">
<p class="promotion-tooltip-text" style="width: 332px;">IP whitelisting is not a requirement for your application to promote to Test or Live, but you can document and manage your trusted IPs using the fields provided.</p>
</div></i>
<div class="ip-addresses">
<div>
{{ form.container.ip_address }}
</div><div>
{{ form.container.cidr }}<i class="fal fa-info-circle promotion-helper-info" style="position: absolute;
    left: 69%;
    bottom: 90px; z-index: 90;"><div class="promotion-tooltip">
<p class="promotion-tooltip-text" style="width: 500px;">CIDR is optional. If this field is blank, the value 32 will be assigned to IPv4 and 64 will be assigned to IPv6.
<br/>
With CIDR, you can create a range by providing a number ( &lt; 32) for IP V4 address and ( &lt; 128) for IP V6 address.
<br/>
Possible values can be:
<br/>
IPv4: 1, 4, 8, 13, 16, 24, 27, 32 etc. (32 is for whole IP)
<br/>
IPv6: 1, 4, 7, 14, 16, 21, 32, 48, 51, 64, 73, 80, 89, 96, 112, 128 etc. (128 is for Whole IP)
<br/>
For e.g: 198.51.100.1 with CIDR value 24 will whitelist a range of:
<br/>
198.51.100.0… … … 198.51.100.255
<br/>
So all the 256 IPs in the range are whitelisted via single IP entry of CIDR value 24</p>
</div></i>
</div><div>
{{ form.container.ip_version }}<i class="fal fa-chevron-down ipversion-dropdown"></i>
</div><div>
{{ form.container.add }}
</div>
</div>

    <div class="ip-addresses-added"></div></div>
    <div class="targetdate">
<h3 style="padding-bottom:9px;position: relative;
    ">Target Date<i class="fal fa-info-circle promotion-helper-info" style="    position: absolute;
    top: 4px;
    bottom: 75px;
    height: 16px;
    left: 18%;">
    <div class="promotion-tooltip">
<p class="promotion-tooltip-text">Provide a target date you'd like your app to Go Live and we'll try our best to meet your timeline</p>
</div>
</i></h3>

<div>
<h4 style="position: relative;
    top: 0px;
    margin-top: 0;
    bottom: 10%;">Targeted Go-Live</h4>
<div style="display: flex;
    margin-top: 0px;">    
{{ form.release_date }}<i class="fal fa-calendar-day target-date-calendar"></i>
{{ form.promotion_submit }}
<p class="cancel-promotion" style="font: 16px/22px Open Sans;
    position: relative;
    bottom: -15px;
    left: 103px;
    height: 20px;
    cursor: pointer;">Cancel</p>
</div>
</div>
</div>
</div>



